.App {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 800;
}
input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 5px;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border: 1.8px solid #6d28d9;
}
.formControl {
  margin-bottom: 20px;
}
button {
  padding: 5px 10px;
}
.error {
  color: red;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (max-width: 475px) {
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  select {
    width: 300px;
  }
  form a p {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 330px) {
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  select {
    width: 250px;
  }
}
