@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

/* Resets & Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  color: var(--mainBlack);
  font-family: "Lato", sans-serif;
  background-color: var(--bodyColor);
  position: relative;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  padding: 0 2rem;
}

.menu-icon,
.cart-btn {
  color: var(--primaryColor);
  cursor: pointer;
}

.menu-icon i,
.cart-btn i {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
}

.nav-title {
  color: var(--mainBlack);
  font-weight: bold;
  font-size: 1.3rem;
}

.cart-items {
  position: absolute;
  background-color: var(--mainRed);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  top: -13px;
  right: -13px;
}

/* Products */

.section-title {
  padding: 2rem 0;
}

.products-center {
  width: 100%;
  max-width: 1170px;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2.5rem 2rem;
}

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.product {
  background-color: var(--mainWhite);
  border-radius: 0 0 6px 6px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 100%;
  min-height: 120px;
  border-radius: 6px 6px 0 0;
}

.products-desc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.7rem;
}

.btn {
  outline: none;
  border: none;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
}

.add-to-cart {
  margin-top: 1.2rem;
}

.add-to-cart i {
  margin-right: 0.5rem;
  pointer-events: none;
}

/* Modal */
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 30rem;
  padding: 1rem;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.cart-title {
  text-align: center;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-item-img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-item-desc h5 {
  margin-top: 10px;
  color: var(--mainGrey);
}

.cart-item-conteoller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.cart-item-conteoller i.fa-chevron-up {
  font-weight: bold;
  cursor: pointer;
  color: var(--primaryColor);
}
.cart-item-conteoller i.fa-chevron-down {
  color: var(--mainRed);
  cursor: pointer;
  font-weight: bold;
}

.cart-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-footer span {
  display: inline-block;
  margin-right: 1rem;
}

.cart-item-clear {
  background-color: var(--mainWhite);
  border: 1.7px solid var(--primaryColor);
  height: 36px;
  margin-right: 1rem;
  text-align: center;
}
