header {
  width: 100%;
  height: 4.5rem;
  background-color: #ede9fe;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* max-width: 1170px; */
}
header ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;
}
header li {
  margin-right: 1rem;
}
header a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #333;
  transition: 0.2s;
  position: relative;
}
header a:hover,
.activeLink {
  color: #6d28d9;
  background-color: #fff;
}
header span {
  display: flex;
  position: absolute;
  top: -8%;
  right: -8%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fd4040;
  color: #f4f4f4;
  font-size: 14px;
}
header h3 {
  width: 8rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 576px) and (max-width: 1170px) {
  header nav {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 576px) {
  header {
    height: 12rem;
    position: static;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  header li {
    text-align: center;
    width: 90%;
    margin-bottom: 0.4rem;
  }
  header div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
  }
  header span {
    top: 7%;
    right: 41%;
  }
}
@media only screen and (max-width: 475px) {
  header span {
    right: 39.5%;
  }
}
@media only screen and (max-width: 400px) {
  header span {
    right: 37.5%;
  }
}
@media only screen and (max-width: 330px) {
  header span {
    right: 35.5%;
  }
}
