.App {
  text-align: center;
}
.productList {
  display: flex;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  width: 90vw;
  max-width: 1170px;
  margin-top: 50px;
}
.product {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(147, 198, 242); */
  background-color: #ede9fe;
}
.productImg img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  justify-content: center;
}
.productDesc {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: none;
  outline: none;
  padding: 6px 15px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 5px;
  cursor: pointer;
}
.primary {
  background-color: #6d28d9;
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #333;
}

